body {
  font-family: sans-serif;
  text-align: center;
  --correct-color: rgba(0, 128, 0, 0.5);
  --incorrect-color: rgba(128, 0, 0, 0.5);
}

h1 {
  display: block;
}

.active {
  background-color: #149902;
  color: #fff;
}

.censoredWordContainer {
  margin: 1em 0.25em;
  letter-spacing: 0.2em;
  font-size: 2em;
  font-weight: bold;
}

.keyboardContainer {
  margin-top: 50px;
}

.letter {
  cursor: pointer;
  display: inline-block;
  padding: 5px 10px;
  border: 1px solid #000;
  text-transform: uppercase;
}

.row {
  text-align: center;
  margin: 10px;
}

.letter.correct {
  background-color: var(--correct-color);
  cursor: not-allowed;
  color: white;
}

.letter.incorrect {
  background-color: var(--incorrect-color);
  cursor: not-allowed;
  color: white;
}

.fiddlesticks {
  height: 350px;
  width: 350px;
}

.fiddlesticks > g > image {
  height: 100%;
  width: 100%;
}

.controlBox > * {
  margin: 0.25em 0;
}

.statusBox {
  height: 1em;
}

.censoredWordContainer.incorrect {
  color: var(--incorrect-color);
}

.censoredWordContainer.correct {
  color: var(--correct-color);
}
