html {
  background-color: black;
  --correct-color: rgba(152, 181, 238, 0.65);
  --incorrect-color: rgba(123, 42, 75, 0.65);
}

body {
  background-image: url('images/twisted-treeline-background.png');
  background-size: cover;
  font-family: sans-serif;
  height: 100vh;
  margin: 0;
  text-align: center;
}

.active {
  background-color: #149902;
  color: #fff;
}

.censoredWordContainer {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  font-size: 2em;
  font-weight: bold;
  letter-spacing: 0.2em;
  margin: 1em auto;
  width: 62%;
}

.censoredWordContainer.incorrect {
  color: var(--incorrect-color);
}

.censoredWordContainer.correct {
  color: var(--correct-color);
}

.controlBox > * {
  background-color: rgba(255, 255, 255, 0.3);
  display: flex;
  justify-content: space-evenly;
  margin: auto;
}

.fiddlesticks {
  height: 350px;
  transform: translateX(-2em);
  width: 350px;
}

.fiddlesticks > g {
  visibility: hidden;
}

.fiddlesticks > g > image {
  height: 100%;
  width: 100%;
}

.keyboardContainer {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  margin: 1em auto;
  padding: 3px 0px 3px 0px;
  width: 450px;
}

.letter {
  border: 1px solid #000;
  cursor: pointer;
  display: inline-block;
  padding: 5px 10px;
  text-transform: uppercase;
}

.letter.correct {
  background-color: var(--correct-color);
  color: white;
  cursor: not-allowed;
}

.letter.incorrect {
  background-color: var(--incorrect-color);
  color: white;
  cursor: not-allowed;
}

.livesDisplay {
  border-radius: 10px 10px 0px 0px;
  font-weight: bold;
  color: #890010;
  padding: 5px;
  width: 250px;
}

.row {
  margin: 10px;
  text-align: center;
}

.statusBox {
  border-radius: 0px 0px 10px 10px;
  height: 2em;
  justify-content: center;
  padding: 5px;
  width: 250px;
}

#restartBtn {
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  justify-content: right;
  margin: 1em auto;
}
